<p><%= l(:mail_body_wiki_content_added, :id => link_to(h(@wiki_content.page.pretty_title), @wiki_content_url),
                                        :author => h(@wiki_content.author)) %><br />
<em><%=h @wiki_content.comments %></em></p>

<% if Setting[:plugin_redmine_mail_shaper][:wiki_diff_on_create] %>
  <pre>
    <%= @wiki_content.text %>
  </pre>
<% end %>

